*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.maq{
  border: 1px red solid;
}
.Front-End-Test---Home-view {
  width: 100%;
  height: 100vh;
  padding: 0 0 98px;
  background-color: #fcfcfc;
}
.Rectangle {
  width: 98px;
  height: 31px;
  padding: 3px 39px 0 40px;
  border-radius: 2px;
  border: solid 1px #1797ff;
}
.All {
  width: 19px;
  height: 28px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #1797ff;
}
.Rectangle2 {
  width: 98px;
  height: 31px;
  padding: 3px 16px 0 17px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}
.My-faves {
  width: 65px;
  height: 28px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}