*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.maq{border: 1px red solid;}
.Front-End-Test---Home-view {
  width: 100%;
  min-height: 100vh;
  padding: 0 0 98px;
  background-color: #fcfcfc;
}
.rectangles{
  width: 100%;
  display: flex;
  justify-content: center;
}
.rectangle{
  height: 31px;
  border-radius: 2px;
  padding: 3px 20px;
  cursor: pointer;
  border: solid 1px #d6d6d6;
}
.rectangle span{
  height: 28px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
.rectangleActive {border: solid 1px #1797ff;}
.rectangleActive span {color: #1797ff !important;}
